<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>Titulo</ion-col>
      <ion-col>Estado</ion-col>
      <ion-col>Ver</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngFor="let item of this.anteproyectos; let x=index">
      <ion-col>{{item.titulo}}</ion-col>
      <ion-col>{{item.estado}}</ion-col>
      <ion-col>
        <ion-button id="open-modal" expand="block"  (click)="verproyecto(x)"><ion-icon name="eye-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
     <ion-list >
      <ion-item>
        <ion-input label="ID:"  disabled labelPlacement="floating" value="{{this.anteproyecto.id}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="IDUSER:"  disabled labelPlacement="floating" value="{{this.anteproyecto.idusuario}}"></ion-input>
      </ion-item>
    <ion-item>
      <ion-input label="Titulo:"  disabled labelPlacement="floating" value="{{this.anteproyecto.titulo}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Descripción:"  disabled labelPlacement="floating" value="{{this.anteproyecto.descripciones}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Objetivo:" disabled labelPlacement="floating" value="{{this.anteproyecto.objetivo}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Planteamiento:"  disabled labelPlacement="floating" value="{{this.anteproyecto.plateamiento}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Justificacion:" disabled labelPlacement="floating" value="{{this.anteproyecto.justificacion}}"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-select aria-label="opciones" [(ngModel)]="this.op" placeholder="Seleciona una opcion">
      <ion-select-option value="titulo">Titulo</ion-select-option>
      <ion-select-option value="desc">Descripción</ion-select-option>
      <ion-select-option value="plan">Planteamiento</ion-select-option>
      <ion-select-option value="objetivo">Objetivo</ion-select-option>
      <ion-select-option value="hipo">Hipotesis</ion-select-option>
      <ion-select-option value="justi">Justificación</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea label="Comentario:" labelPlacement="floating" [(ngModel)]="this.comentario"></ion-textarea>
  </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
