<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="id" disabled="true" labelPlacement="fixed" value="{{this.usuario.id}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre" disabled="true" labelPlacement="fixed" value="{{this.usuario.nombre}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" disabled="true" labelPlacement="fixed" value="{{this.usuario.email}}"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label>Salir</ion-label> <ion-button  expand="block" (click)="salir()" color="primary"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
